# Ignore WordPress Core files
wp-admin/
wp-includes/
wp-content/cache/
wp-content/uploads/
wp-content/upgrade/
app/public/wp-content/ai1wm-backups/


# Ignore dependency files
node_modules/
vendor/

# Ignore local environment settings
.env

# Ignore log files
*.log

# Ignore database dumps
*.sql

# Ignore WordPress configuration file
wp-config.php

# Ignore sensitive files
wp-config.php
.env

# Ignore OS and editor-specific files
.DS_Store
.vscode/
.idea/
Thumbs.db
